@if (variant === 'sidebar') {
  <img
    [src]="imageSrc"
    [attr.alt]="'IdentityHub'"
    width="320"
    height="80"
    class="ih-brand-sidebar block h-auto w-full min-w-0 object-contain object-center"
    [class.ih-brand-sidebar--collapsed]="collapsed"
    decoding="async"
  />
} @else {
  <img
    [src]="imageSrc"
    alt="IdentityHub"
    width="480"
    height="120"
    class="ih-brand-auth block min-w-0 object-contain object-left"
    [class.ih-brand-auth--mark]="!wordmark"
    decoding="async"
  />
}
